{% extends 'base.html.twig' %}

{% block title %}New WatchHistory{% endblock %}

{% block body %}
    <h1>Create new WatchHistory</h1>

    {{ include('watch_history/_form.html.twig') }}

    <a href="{{ path('app_watch_history_index') }}">back to list</a>
{% endblock %}
